This notebook will analyze GSS' Columbia data.

In [14]:
from collections import defaultdict
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
df = pd.read_csv('../data/GSS_Columbia.csv', header=4, index_col=False, thousands=',')
df.columns = ['Year', 'Institution Name', 'Broad Fields', 'Citizenship', 'Count']
df = df.drop('Institution Name', 1) # We know all data describes Columbia
df.head()

,Year,Broad Fields,Citizenship,Count
0,2016,Total for selected values,Total for selected values,6498.0
1,2016,Total for selected values,Total for selected values,6498.0
2,2016,Biological sciences,Total for selected values,790.0
3,2016,Biological sciences,Foreign nationals,235.0
4,2016,Biological sciences,U.S. citizens and permanent residents (non-U.S...,555.0

In [58]:
df.tail()

,Year,Broad Fields,Citizenship,Count
702,1994,Social sciences,Foreign nationals,207.0
703,1994,Social sciences,U.S. citizens and permanent residents (non-U.S...,547.0
704,NOTES:,NaN,NaN,NaN
705,"SOURCE: National Science Foundation, National ...",NaN,NaN,NaN
706,Downloaded 2019/03/14 at 12:23:07 PM EST,NaN,NaN,NaN

In [60]:
d = defaultdict(lambda: defaultdict(lambda: defaultdict(int)))

for _, row in list(df.iterrows())[:-3]: # Ignore file's metadata
    d[int(row['Year'])][row['Broad Fields']][row['Citizenship']] = row['Count']

In [62]:
d[2016]['Biological sciences']

defaultdict(int,
            {'Total for selected values': 790.0,
             'Foreign nationals': 235.0,
             'U.S. citizens and permanent residents (non-U.S. citizens holding green cards)': 555.0})

In [ ]:
def plotField(field):
    counts = []
    for year in range(1994, 2017):
        d[year]