In [9]:
from bs4 import BeautifulSoup, Tag
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

In [4]:
r = requests.get('https://www.iie.org/Research-and-Insights/Open-Doors/Data/International-Students/Places-of-Origin/All-Places-of-Origin/2012-13')

In [27]:
soup = BeautifulSoup(r.content)
table = soup.table
table.tr.decompose()
for td in table.tr.findAll('td'):
    td.name = 'th'
pd.read_html(str(soup.table))[0]

              Place of Origin 2011/12   2012/13 % Change
0                         NaN     NaN       NaN      NaN
1          SUB-SAHARAN AFRICA   30046   30585.0      1.8
2                         NaN     NaN       NaN      NaN
3                 East Africa    7827    7761.0     -0.8
4                     Burundi     103     124.0     20.4
5                    Djibouti       8      13.0     62.5
6                     Eritrea     110     106.0     -3.6
7                    Ethiopia    1334    1463.0      9.7
8                       Kenya    3898    3516.0     -9.8
9                      Rwanda     465     565.0     21.5
10                 Seychelles      10      16.0     60.0
11                    Somalia      34      30.0    -11.8
12                South Sudan       -       8.0        -
13                      Sudan     180     187.0      3.9
14                   Tanzania     906     950.0      4.9
15                     Uganda     779     783.0      0.5
16                        NaN     NaN       NaN      NaN
17             Central Africa    2778    2861.0      3.0
18                   Cameroon    1530    1472.0     -3.8
19   Central African Republic      28      28.0      0.0
20                       Chad      84      89.0      6.0
21         Congo, Rep. of the     249     309.0     24.1
22    Congo, Dem. Rep. of the     320     386.0     20.6
23          Equatorial Guinea     164     196.0     19.5
24                      Gabon     402     378.0     -6.0
25        São Tomé & Príncipe       1       3.0    200.0
26                        NaN     NaN       NaN      NaN
27            Southern Africa    5196    5511.0      6.1
28                     Angola     779     812.0      4.2
29                   Botswana     175     216.0     23.4
..                        ...     ...       ...      ...
241             NORTH AMERICA   26821   27357.0      2.0
242                    Canada   26821   27357.0      2.0
243                       NaN     NaN       NaN      NaN
244                       NaN     NaN       NaN      NaN
245                   OCEANIA    5697    6104.0      7.1
246                 Australia    3848    4121.0      7.1
247              Cook Islands       6       7.0     16.7
248                      Fiji     122     136.0     11.5
249          French Polynesia      42      37.0    -11.9
250                  Kiribati      48      70.0     45.8
251          Marshall Islands      39      42.0      7.7
252                Micronesia      98      88.0    -10.2
253                     Nauru       7       1.0    -85.7
254             New Caledonia       8       7.0    -12.5
255               New Zealand    1204    1311.0      8.9
256                      Niue       8       7.0    -12.5
257                     Palau      21      20.0     -4.8
258          Papua New Guinea      60      78.0     30.0
259                     Samoa      51      53.0      3.9
260           Solomon Islands      13      10.0    -23.1
261                     Tonga     104     105.0      1.0
262                    Tuvalu       3       2.0    -33.3
263                   Vanuatu       8       7.0    -12.5
264         Wallis and Futuna       7       2.0    -71.4
265                       NaN     NaN       NaN      NaN
266                       NaN     NaN       NaN      NaN
267                 Stateless       8      13.0     62.5
268                       NaN     NaN       NaN      NaN
269                       NaN     NaN       NaN      NaN
270               WORLD TOTAL  764495  819644.0      7.2

[271 rows x 4 columns]